@font-face {
  font-family: "poppins";
  src: url(./assets/fonts/Poppins-Regular.ttf);
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "poppins", Arial, sans-serif;
}

/* Header Start*/
.top-header {
  display: flex;
  flex-direction: column; /* first row alignment */
  flex-wrap: nowrap; /* allow second row nav to drop */
  align-items: center; /* vertical centering */
  width: 100%;
  box-sizing: border-box;
  /* padding-right: 30px; */
  position: sticky;
  top: 0;
  z-index: 1000;
}

@media (max-width: 1000px) {
  /*  Allows the logo container to move to the middle */
  .top-section {
    position: relative; /* parent becomes positioning container */
  }

  .logo-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px; /* optional – reduce padding when centered */
    z-index: 1000; /* stays above everything */
  }
}

.top-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* logo left, nav center, search/login right */
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  background-color: white;
}

.top-header .top-section-left {
  display: flex;
  flex-wrap: nowrap;
  margin-left: 20px;
}

.top-header .top-section-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 30px;
}

@media (max-width: 1000px) {
  .top-header .top-section-right {
    margin-right: 0;
  }
}

/* Logo */
.top-section > a.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex: 0 0 auto; */
  /* margin: 15px 40px 0px; */
  padding: 20px 35px 20px;
  background-color: red;
}

.logo-container .icon__container__svg {
  width: 70px;
  /* height: auto; */
  display: block;
}

/* Burger menü */

.burger-menu-btn {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: #617686;
  border: none;
  border-radius: 0.4rem;
  padding: 0.75rem;
  cursor: pointer;
  transition: 0;

  img {
    width: 20px;
    height: 20px;
    object-fit: contain;
    margin-right: 0.25rem;
    transition: 0;
  }
}

.burger-menu-btn:hover {
  display: flex;
  justify-self: center;
  background-color: rgb(214, 235, 248);

  cursor: pointer;
  color: #134e8a;
}

/* When logo moves, show the menu button */
@media (max-width: 1000px) {
  .top-section .burger-menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* MAIN navigation (first row) */
.main-navigation {
  background-color: white;
  margin-left: 30px;
}

@media (max-width: 1000px) {
  .main-navigation {
    opacity: 0;
    visibility: hidden;
    max-height: 0;
    pointer-events: none;
  }
}

.navigation-list {
  display: flex;
  justify-content: start;
  list-style-type: none;
  gap: 16px;
  padding: 0;
}

.navigation-list-element {
  a {
    text-decoration: none;
    color: #0f2f47a8;
    font-weight: 600;
    font-size: 0.9rem;
    font-family: "poppins";
    transition: color 0.225s ease-in-out;
    display: flex;
    justify-content: start;
  }

  a:hover {
    color: #134e8a;
  }
}

/* SEARCH + LOGIN (right side) */
.top-section .search-input-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 50px;
  border-radius: 0.4rem;
  margin-right: 10px;
  border: 2px solid #006ac7; /* width + style + color */
  margin-right: 0.65rem;
  flex: 1; /* grows and shrinks */
  min-width: 0px; /* prevents becoming too tiny */
}

.search-icon {
  position: absolute;
  left: 12px;
  width: 20px;
  height: 20px;
  z-index: 3;
}

.search-input-field {
  position: absolute;
  left: 40px; /* moves text to the right of the icon */
  font-size: 1.1rem;
  border: none;
  outline: none;
  z-index: 4;
  background: transparent;
  width: 80%;
}

.top-section .login-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7f4ff;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: #006ac7;
  border: none;
  border-radius: 0.4rem;
  padding: 0.75rem;
  cursor: pointer;
  transition: 0;

  img {
    width: 20px;
    height: 20px;
    object-fit: contain;
    margin-right: 0.25rem;
    transition: 0;
  }
}

.login-btn:hover {
  background-color: #d1ebff;
  color: #134e94;
}

.login-btn:hover img {
  content: url("./assets/images/login2.png");
}

@media (max-width: 1440px) {
  .login-btn .login-text {
    display: none;
  }
}

/* SECOND navigation (sub-menu) */
.sub-nav {
  display: flex;
  justify-content: start;
  width: 100%;
}

.sub-second-navigation {
  display: flex;
  align-items: center;
  width: 100%;
  padding-right: 0;
  height: 70px;
  background-color: #f3f9fe;
  opacity: 1;
  max-height: 60px;
  visibility: visible;
  overflow: hidden;
  transition:
    opacity 0s ease-in-out,
    visibility 1s ease-in-out;
}

@media (max-width: 1000px) {
  .sub-nav {
    opacity: 0;
    visibility: hidden;
    max-height: 0;
    pointer-events: none;
  }
}

.second-navigation-list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  height: 100%;
  padding: 0;
  margin: 0px 18px 0px;
}

.navigation-list-element2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;

  padding: 0.5rem 1rem; /* makes the hover area bigger */
  border-radius: 4px;
  list-style-type: none;
  transition: background-color 0.3s ease;
}

.navigation-list-element2:hover {
  display: flex;
  justify-self: center;
  background-color: rgb(214, 235, 248);

  cursor: pointer;
  color: #134e8a;
}

.navigation-list-element2:hover a {
  cursor: pointer;
  color: #134e8a; /* text color changes when li is hovered */
}

a {
  display: flex;
  text-decoration: none; /*   Prevents underlines  */
  color: #0f2f47a8;
  font-weight: 600;
  font-size: 1rem;
  font-family: "poppins";
  transition: color 0.225s ease-in-out;
}

/* Need to look into this and move - for all that are wrapped in "a"  ######################################################*/
a:hover {
  color: #134e8a;
}

/* ###################### Responsive Side Navbar ################### */

.responsive-navbar {
  width: 100%;
  height: 100vh;
  transform: translate(-100%, 0);
  transition: all 0.335s ease-in-out;
  background-color: #fff;
  position: fixed;
  top: 75px;
  left: 0;
  right: 0;
}

.responsive-menu {
  width: 100%;
}

.responsive-menu-element {
  width: 100%;
  padding: 1rem;
  color: #0f2f47a8;
  font-family: "Poppins";
  font-size: 1.2rem;
  font-weight: 600;
  border-bottom: 1px solid lightgrey;
  list-style-type: none;
}

.responsive-menu-element:hover {
  cursor: pointer;
  background-color: rgb(214, 235, 248);
  color: #134e8a;

  border-radius: 0.4rem;
}

.responsive-menu-link {
  display: block;
}

/* Header End*/

.third-navigation-container {
  width: 100%;
  height: 100vh; /* full viewport height */
  min-height: 500px; /* optional: prevent it from collapsing on very small screens */
  background-image: url("./assets/images/hero.png");
  background-size: cover; /* fills container proportionally */
  background-position: center;
  background-repeat: no-repeat;
}

.circle-overlay {
  position: absolute;
  top: 45%; /* vertical center */
  left: 25%; /* horizontal center */
  transform: translate(-50%, -50%); /* center the circle exactly */

  width: 200px; /* circle diameter */
  height: 200px; /* same as width for perfect circle */
  border-radius: 50%; /* makes it a circle */
  background-color: #ff5a4a;

  z-index: 2; /* ensures it sits above the hero background */
  display: grid;
  justify-content: center;
  align-items: center;
}

.circle-overlay p {
  color: white;
  font-size: 40px;
  text-align: center;
}

/* Fourth Container  */
.forth-navigation-container {
  width: 100%;
  height: 450px;
  background-color: #0976d6;
  padding-left: 320px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0% 100%);
  position: relative;
  margin-top: -400px; /* pull it upward */
  transform: translateX(0) translateY(-30px);
}

.promo-content {
  /* background-color: purple; */
  color: #ffffff;
}

.promo-content h2 {
  color: #b9defb;
}

.promo-content p:first-of-type {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.highlight {
  color: #2ad1c9;
  font-weight: bold;
  font-size: 2.7rem;
}

.button-wrapper {
  display: inline-block;
  border-radius: 0.4rem;
  overflow: hidden; /* clips inner content to match rounding */
}

.cta-button {
  background-color: white;
  color: #006ac7;
  display: inline-block;
  border-radius: 0.4rem;
  padding: 0.75rem;
  box-shadow: inset 0 -0.4rem 0 0 #2ad1c9;
}

.kostenloss-konto {
  padding-left: 320px;
}

.fifth-navigation-container {
  display: flex;
  gap: 2rem; /* space between divs */
  align-items: flex-start;
}

.two-col-section > div {
  flex: 1; /* both take equal width */
}
